<div class="cell size10">
  <div class="page-content">
    <div class="flex-grid no-responsive-future" style="height: 100vh;">
      <div class="row" style="height: 100vh">
        <div class="cell size10 padding20 bg-white" id="cell-content">
          <ul class="breadcrumbs small">
            <li><a href="#"><span class="icon mif-home"></span></a></li>
            <li><a href="tracuu">Tra cứu bệnh</a></li>
            <li>Bệnh giãn phế quản</li>
          </ul>
          <h1 class="text-light">Bệnh giãn phế quản</h1>
          <hr class="thin bg-grayLighter">
          <dl class="dl-horizontal">
            <dt>Chuyên khoa</dt>
            <dd>A description list is perfect for defining terms.</dd>
            <dt>Tóm tắt</dt>
            <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus.</dd>
            <dt>Tên khác</dt>
            <dd>Porta, Malesuada, Magna.</dd>
            <dt>Nguồn</dt>
            <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
          </dl>
          <h3>Định nghĩa</h3>
          <hr class="thin bg-grayLighter">
          <p>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </p>


          
        </div>
        </div></div></div></div>