
.icon-b svg {
    width: 40px !important;
    height: 40px !important;
    background-color: #fff
}
.my-icon{

}

/*
.
path {
    fill: blue !important;
}

svg {
   fill: blue !important;
}

.icon-a {
   fill: blue !important;
}
path {
    fill: red;
} */
