<div class="cell size10">
  <div class="page-content">
    <div class="flex-grid no-responsive-future" style="height: 100vh; width: 100vw">
      <div class="row" style="height: 100vh">
        <div class="cell auto-size padding20 bg-white" id="cell-content">
          <h1 class="text-light">Thuốc</h1>
          <div class="input-control text full-size" data-role="input">
            <input type="text"  placeholder="Nhập tên thuốc...">
            <button class="button warning">Tìm kiếm</button>
          </div>
          <hr class="thin bg-grayLighter">

          <div class="grid">
            <div class="row cells4">

              <div class="cell">
                <div class="listview-outlook">
                  <div class="list-group">
                    <span class="list-group-toggle">Thuốc về phổi</span>
                    <div class="list-group-content" style="display: block;">
                      <a class="list" href="chitietthuoc">
                        <div class="list-content">
                          <span class="list-title">Aspirin</span>
                        </div>
                      </a>
                      <a class="list" href="chitietthuoc">
                        <div class="list-content">
                          <span class="list-title">Becberin</span>
                        </div>
                      </a>
                      <a class="list" href="chitietthuoc">
                        <div class="list-content">
                          <span class="list-title">Aspirin</span>
                        </div>
                      </a>
                      <a class="list" href="chitietthuoc">
                        <div class="list-content">
                          <span class="list-title">Codein</span>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cell">
                <div class="listview-outlook">
                  <div class="list-group">
                    <span class="list-group-toggle">Thuốc về phổi</span>
                    <div class="list-group-content" style="display: block;">
                      <a class="list" href="chitietthuoc">
                        <div class="list-content">
                          <span class="list-title">Pentacilin</span>
                        </div>
                      </a>
                      <a class="list" href="chitietthuoc">
                        <div class="list-content">
                          <span class="list-title">Becberin</span>
                        </div>
                      </a>
                      <a class="list" href="chitietthuoc">
                        <div class="list-content">
                          <span class="list-title">Aspirin</span>
                        </div>
                      </a>
                      <a class="list" href="chitietthuoc">
                        <div class="list-content">
                          <span class="list-title">Codein</span>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cell">
                <div class="listview-outlook">
                  <div class="list-group">
                    <span class="list-group-toggle">Thuốc về phổi</span>
                    <div class="list-group-content" style="display: block;">
                      <a class="list" href="chitietthuoc">
                        <div class="list-content">
                          <span class="list-title">Pentacilin</span>
                        </div>
                      </a>
                      <a class="list" href="chitietthuoc">
                        <div class="list-content">
                          <span class="list-title">Becberin</span>
                        </div>
                      </a>
                      <a class="list" href="chitietthuoc">
                        <div class="list-content">
                          <span class="list-title">Aspirin</span>
                        </div>
                      </a>
                      <a class="list" href="chitietthuoc">
                        <div class="list-content">
                          <span class="list-title">Codein</span>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cell">
                <div class="listview-outlook">
                  <div class="list-group">
                    <span class="list-group-toggle">Thuốc về phổi</span>
                    <div class="list-group-content" style="display: block;">
                      <a class="list" href="chitietthuoc">
                        <div class="list-content">
                          <span class="list-title">Pentacilin</span>
                        </div>
                      </a>
                      <a class="list" href="chitietthuoc">
                        <div class="list-content">
                          <span class="list-title">Becberin</span>
                        </div>
                      </a>
                      <a class="list" href="chitietthuoc">
                        <div class="list-content">
                          <span class="list-title">Aspirin</span>
                        </div>
                      </a>
                      <a class="list" href="chitietthuoc">
                        <div class="list-content">
                          <span class="list-title">Codein</span>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="grid">
            <div class="row cells4">

              <div class="cell">
                <div class="listview-outlook">
                  <div class="list-group">
                    <span class="list-group-toggle">Thuốc về phổi</span>
                    <div class="list-group-content" style="display: block;">
                      <a class="list" href="chitietthuoc">
                        <div class="list-content">
                          <span class="list-title">Pentacilin</span>
                        </div>
                      </a>
                      <a class="list" href="chitietthuoc">
                        <div class="list-content">
                          <span class="list-title">Becberin</span>
                        </div>
                      </a>
                      <a class="list" href="chitietthuoc">
                        <div class="list-content">
                          <span class="list-title">Aspirin</span>
                        </div>
                      </a>
                      <a class="list" href="chitietthuoc">
                        <div class="list-content">
                          <span class="list-title">Codein</span>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cell">
                <div class="listview-outlook">
                  <div class="list-group">
                    <span class="list-group-toggle">Thuốc về phổi</span>
                    <div class="list-group-content" style="display: block;">
                      <a class="list" href="chitietthuoc">
                        <div class="list-content">
                          <span class="list-title">Pentacilin</span>
                        </div>
                      </a>
                      <a class="list" href="chitietthuoc">
                        <div class="list-content">
                          <span class="list-title">Becberin</span>
                        </div>
                      </a>
                      <a class="list" href="chitietthuoc">
                        <div class="list-content">
                          <span class="list-title">Aspirin</span>
                        </div>
                      </a>
                      <a class="list" href="chitietthuoc">
                        <div class="list-content">
                          <span class="list-title">Codein</span>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cell">
                <div class="listview-outlook">
                  <div class="list-group">
                    <span class="list-group-toggle">Thuốc về phổi</span>
                    <div class="list-group-content" style="display: block;">
                      <a class="list" href="chitietthuoc">
                        <div class="list-content">
                          <span class="list-title">Pentacilin</span>
                        </div>
                      </a>
                      <a class="list" href="chitietthuoc">
                        <div class="list-content">
                          <span class="list-title">Becberin</span>
                        </div>
                      </a>
                      <a class="list" href="chitietthuoc">
                        <div class="list-content">
                          <span class="list-title">Aspirin</span>
                        </div>
                      </a>
                      <a class="list" href="chitietthuoc">
                        <div class="list-content">
                          <span class="list-title">Codein</span>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cell">
                <div class="listview-outlook">
                  <div class="list-group">
                    <span class="list-group-toggle">Thuốc về phổi</span>
                    <div class="list-group-content" style="display: block;">
                      <a class="list" href="chitietthuoc">
                        <div class="list-content">
                          <span class="list-title">Pentacilin</span>
                        </div>
                      </a>
                      <a class="list" href="chitietthuoc">
                        <div class="list-content">
                          <span class="list-title">Becberin</span>
                        </div>
                      </a>
                      <a class="list" href="chitietthuoc">
                        <div class="list-content">
                          <span class="list-title">Aspirin</span>
                        </div>
                      </a>
                      <a class="list" href="chitietthuoc">
                        <div class="list-content">
                          <span class="list-title">Codein</span>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  </div>