
<!-- start dialog comfirm code -->
<div id="confirm" class="dialog-acc-wr">
  <button class="bt-close"><span  [routerLink] = "['/home']"  class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
  <div class="dialog-forgot-pass">
    <h4>Xác thực tài khoản</h4>
    <p>Một tin nhắn chứa mã xác thực đã được gửi đến số điện thoại của bạn. Vui lòng kiểm tra và nhập mã xác thực.</p>
    <form #f="ngForm">
    <div class="input-wr">
      <input type="text" [formControl]="verifyCode" name="username" placeholder="Nhập mã xác thực">
    </div>
    <div class="input-wr">
      <input type="password" [formControl]="newPassword" name="username" placeholder="Nhập mật khẩu mới">
    </div>
    
    </form>
    
    <a (click)="changePassword()" style="cursor: pointer" class="bt-forgot-pass">Hoàn tất</a>
    <a href="#" class="text-link text-green" style="cursor: pointer">Gửi lại mã xác thực</a>
    <a [routerLink] = "['/register']" class="bt-close-forgot-pass" style="cursor: pointer">Thoát</a>
  </div>
</div>
<!-- end dialog comfirm code -->